body {
  
  font-family: viga;
  background-color: #237514;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
 
}

/* Navbar */

.navbar {
  text-decoration: none;
  border-bottom: 1px solid #2bb81568;

}

 .navbar .navbar-brand {
   padding: 0 8%;

 }


.navbar .navbar-nav .nav-item a {
  font-family: Montserrat;
  
  color: #fff;
  padding: 1rem 1% 0.3rem;
  text-shadow: 1px 1px 3px rgba(15, 15, 19, 0.997);
}

.navbar .navbar-nav a:hover {
  color: #39e11b;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #39e11b;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* Hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -100px;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  background: linear-gradient(0deg, #237514f4 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 2rem 10%;
  max-width: 65rem;
  margin-top: 3rem;
}

.hero .content h1 {
  font-size: 3.5em;
  text-shadow: 1px 1px 3px rgba(15, 15, 19, 0.997);
  line-height: 1.2;
  color: #fff;
  margin-bottom: 0.5rem;
}

.hero .content h1 span {
  color: #39e11b;
}

.hero .content p {
  font-family: Montserrat;
  font-size: 1.8rem;
  text-shadow: 1px 1px 3px rgba(15, 15, 19, 0.997);
  margin-top: 1rem;
  font-weight: 100;
  color: #fff;
  
}

/* Text Panel */

.text-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-top: 300px;
    margin-bottom: 200px;
    background-color: rgb(13, 150, 13);
    z-index: 1;
  }

.text-panel h3 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin-top: 35px;
  text-shadow: 1px 1px 3px rgba(15, 15, 19, 0.997);
  color: white;
  text-align: center;
}

.text-panel h3 span {
  color: #39e11b;
}

.text-panel p {
  margin: 20px 30px 50px;
  font-size: 1.3rem;
  letter-spacing: 0.10rem;
  text-align: justify;
  color: #fff;
  font-family: Montserrat;

}



/* Info Panel */

.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -100px;
  background-color: rgb(13, 150, 13);
  z-index: 1;
}

.info-panel h3 span {
  color: #39e11b;
}

.info-panel p {
  margin: 20px 30px 50px;
  font-size: 1.3rem;
  letter-spacing: 0.10rem;
  text-align: justify;
  color: #fff;
  font-family: Montserrat;
  
}



.info-panel h3 {
  font-size: 2.5rem;
  margin-top: 35px;
  text-shadow: 1px 1px 3px rgba(15, 15, 19, 0.997);
  color: white;
  text-align: center;
}

.info-panel h3 span {
  color: #39e11b;
}

.info-panel p {
  margin: 20px 30px 50px;
  font-size: 1.3rem;
  letter-spacing: 0.10rem;
  text-align: justify;
  color: #fff;
  font-family: Montserrat;
  
}

section {
  padding-top: 7rem;
}

.container .row h1 {
  color: #fff;
  
  text-shadow: 1px 1px 3px rgba(15, 15, 19, 0.997);
  font-size: 3.2rem;
}

.container .row h1 span {
  color: #39e11b;
}

/* Program */
.row .card h3 {
  font-size: 1.98rem;
  
  
}

.row .card span {
  color: #39e11b;
}

.row .card a {
  font-size: 1.2rem;
  
}

/* Kontak */

footer .sosials a {
  color: #fff;
  margin: 0.3rem;
}

footer .sosials a:hover {
  color: #39e11b;
}





/* sidebar */

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(7, 116, 41, 0.631);
    backdrop-filter: blur(15px);



  }


  .navbar .navbar-brand {
    padding: 0 5%;

  }

  .navbar .navbar-brand img {
    width: 68px;
    height: 50px;
  }


  .navbar .navbar-nav a {
    display: inline-block;
  }


  .hero .content h1 {
    font-size: 2.8em;
  }

  .hero .content p {
    font-size: 1.3rem;

  }

.text-panel {
  
  margin-top: 200px;
  margin-bottom: 10px;
  
}

.text-panel h3 {
    font-size: 2rem;
    margin-top: 50px;
    letter-spacing: 0.1rem;
    }
.text-panel p {
    font-size: 1.2rem;
    letter-spacing: normal;
    }


  .info-panel {
    margin-top: -60px;
  }

  .info-panel h3 {
    font-size: 2rem;
  }

  .info-panel p {
    font-size: 1.2rem;
    letter-spacing: normal;
    
    
  }

  .hero {
    margin-top: -100px;
  }

    .container .row h1 {
      color: #fff;
      text-shadow: 1px 1px 3px rgba(15, 15, 19, 0.997);
      font-size: 2.5rem;
    }
  
    .container .row h1 span {
      color: #39e11b;
    }

  footer p {
    font-size: 1.2rem;
  }

}